<nav>
    <ul style="display: flex;">
        <li style="min-width: 60px;"><a href="/Home/Index">Home</a></li>
        <li style="min-width: 60px;"><a href="/Home/Sobre">Sobre</a></li>
    </ul>
</nav>